
input {
    width: 350px;
}

textarea {
    width: 348px;
}

/* Border styles */

#table-4 thead tr th, #table-4 tbody tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(211, 202, 221);
}

#table-4 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 202, 221);
}
/* Padding and font style */

#table-4 td, #table-4 th {
    padding: 5px 10px;
    font-size: 12px;
    font-family: Verdana;
    color: rgb(95, 74, 121);
}

/* Alternating background colors */
#table-4 tr:nth-child(even) {
    background: rgb(223, 216, 232)
}

#table-4 tr:nth-child(odd) {
    background: #FFF
}