<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProfile name="!local">
        <springProperty scope="context" name="spring.application.name" source="spring.application.name" />
        <springProperty scope="context" name="server.port" source="server.port"/>

        <property name="CONSOLE_LOG_PATTERN"
            value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />

        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>DEBUG</level>
            </filter>
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>

        <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <param name="Encoding" value="UTF-8"/>
            <remoteHost>192.168.31.37</remoteHost>
            <port>9600</port>
            <!-- <filter class="com.program.interceptor.ELKFilter"/>-->//引入过滤类
            <!-- encoder is required -->
            <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder" >
                <fieldNames class="com.dys.springcloud.comment.CustomLogstashFieldNames"/>
                <customFields>{"module":"${spring.application.name}","host":"${hostname}"}</customFields>
                <includeContext>false</includeContext>
                <provider class="net.logstash.logback.composite.loggingevent.ThrowableClassNameJsonProvider">
                    <fieldName>throwableClass</fieldName>
                    <useSimpleClassName>false</useSimpleClassName>
                </provider>
                <provider class="net.logstash.logback.composite.loggingevent.ThrowableRootCauseClassNameJsonProvider">
                    <fieldName>throwableRootCauseClass</fieldName>
                    <useSimpleClassName>false</useSimpleClassName>
                </provider>
            </encoder>
        </appender>
        <root level="DEBUG">
            <appender-ref ref="logstash" />
            <appender-ref ref="console" />
        </root>
    </springProfile>

    <springProfile name="local">
        <root level="DEBUG">
            <appender-ref ref="console" />
        </root>
    </springProfile>
</configuration>  